.DS_Store
node_modules
results
temp
.nyc_output
coverage.json
*.tsbuildinfo
**/lcov.info

yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

dist
artifacts
cache
bin

# vim
*.sw*

# jetbrains
.idea/

.secrets
.env
.env*
!.env.example
!.envrc.example
*.log

.devnet
.e2e

# Ignore local fuzzing results
**/testdata/fuzz/

coverage.out

# Ignore bedrock go bindings local output files
op-bindings/bin

__pycache__

# Ignore echidna artifacts
crytic-export
